// Here you can add other styles
//styling for sidebar

.superadmin-dashboard-div{
    overflow-x: hidden;
}
.superadmin-dashboard-mainboard{
    overflow-x: hidden;
   
}

.background-white-theme{
    background-color: white;
}
.background-blue-theme{
    background-color: $theme-color-blue;
}
.background-white-theme{
    background-color: white;
}
//roles module
.flex-column{
    display: flex;
    flex-direction: column;
}
.justify-end{
    justify-self:flex-end;
    align-self: flex-end;

}

.custom-table tr:nth-child(2n-1){
  background-color: #F9F9FC;
  
}
.table > :not(caption) > * > * {
    border: none;
}
.custom-table-row{
    background-color: white !important;
    color: $font-color-gray;
}
.icon-color-blue{  
    color:#4F9ADF;
}
.icon-color-red{
    color:red;
}
.custon-theme-btn{
    background-color:$theme-color-blue;
    color:white;
    border:none;
    svg{
        margin-left: 3px;

    }
}
.flex-align-left{
    
    
   min-height: 20vh;

   div{
    display: flex;

    justify-items: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
    align-content: center;
       button{
           
           margin: 5px;
       }
   }
}
.storeDetailsForm{
    margin: 0 0 auto 0
}
.custom-blue-btn-outline{
    background-color:transparent;
    color: $theme-color-blue;
    border: 1px solid $theme-color-blue;
    
    &:hover{
        background-color: #F9F9FC;
        color:$theme-color-blue;
        border:none;
    }
    &:active{
        background-color: #F9F9FC;
        color:$theme-color-blue;
        outline: none;
    }
}
.custom-blue-btn{
    background-color:$theme-color-blue;
    color: white;
    border: none;
    border-radius: 0.4em;
    min-height:40px;
    font-size: 0.9em;
    padding: 0.6em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover{
        background-color: #F9F9FC;
        color: $theme-color-blue;
        border:none;
    }
    &:active{
        background-color: #F9F9FC;
        color:$theme-color-blue;
        outline: none;
    }
    span{
        margin: 0 2px 0 4px;
    }
}

//
.background-theme-purple{
    background-color: #E6E9FC;
    min-height: 100vh;
}

//justify-end
.justify-flex-end{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar__link{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    white-space: nowrap;
    min-width: 220px;
    font-size: 0.9em;
    div svg{
        color: white;
        
    }
    &:active{
        border: 1px solid white;
        background-color: white;
        border-radius: 3px;
        color: black;
        div{
            background-color: white;
            
        }
        div svg{
            color: black;
            
        }
    }
    &:focus{
        border: 1px solid white;
        background-color: white;
        border-radius: 3px;
        color: black;
        div{
            background-color: white;
        }
        div svg{
            color: black;
            
        }
    }
    
}
.Navlist-nested-5 {
    padding-left: 16px !important;
}
.Navlist-nested-19{
    padding-left: 16px !important;
}
.sidebar-nav{
    background-color: $theme-color-blue;
    div{
        background-color: $theme-color-blue;
        ul{
            background-color: $theme-color-blue;
           
        }
    }
}

.input-div{

    input{
        min-height: 40px;
        border-radius: 0.3em;
        border:1px solid lightgray;

        &::placeholder{
            font-size: 0.9em;
            color:lightgray;
            text-align: center;
        }
    }
}
.red-btn{
    background-color: #E2626B;
    border:none;
    border-radius: 3px;
    color: white;
}
.green-btn{
    background-color: #6BBEA3;
    border:none;
    border-radius: 3px;
    color: white;
}

.customTable{
    border: none !important;
}
.pencil-icon{
   
    svg{
        color: $theme-color-blue;

    }
}
.delete-icon{
    svg{
        color:#E2626B !important;
    }
}

.custom-container-white{
    background-color: white;
     border-radius: 0.3em;
}

.subheading-form-grid{
    margin: 1em 0 0.5em 0;
}
// .MuiFormControl-root {
   

//     &.custom-form-field{
//         border: 1px solid black;
//         label{
//             top:2;
//         }
//         div{
//             input{
//                 border: 1px solid lightgray;
//             }
//         }
//     }
// }

.custom-form-field{
    input{
    max-height: 1em;
    width: 100%;
    padding: 10px 12px;
    margin:0.3em;
    }
}
.color-gray{
    color:#b2b1b1;
}
.pagination{
    background: transparent !important;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1em;
    padding: 1em;
}

.order-id{
    h6{
        text-decoration: underline;
        font-weight: 600;

    }
}
.order-time-detail{
    display: flex;
    align-items: center;
    flex-direction: row;
    p{
        font-size: 0.8em;
        white-space: no-wrap;
        margin: 0.6em 0.1em;
        color: $theme-font-gray;
    }
}
.order-address-details{
    .address-p{
        font-size: 1em;
        font-weight: 700;
        margin: 0.3em;
    }
    ul{
        text-decoration: none;
        list-style: none;
        li{
            svg{
                max-width: 20px;
            }
            color: $theme-font-gray;
            font-size: 0.8em;
        }
    }
    p{
        font-size: 0.8em;
        font-weight: 700;
        margin: 0.3em;
        color: $theme-font-gray;
        white-space: wrap;
    }
}
.btn-div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    button{
        min-height: 35px;
        background: $theme-color-green;
        border:none;
        border-radius: 0.3em;
        text-decoration: none;
        color:white;
        padding:0.7em 0.4em;
        font-size: 0.8em;
        min-width: 10em;
        font-weight: 600;
    }
}
.order-subtotal{
    ul{
        padding:0;
        list-style: none;
        li{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1em;
            color: $theme-font-gray;
            p{
                padding:0;
                margin:0.3em 0.1em;
            }
        }
    }
    .bold-li{
        font-weight: 700;
        color:black;
    }
}
.border-top-bottom{
    border-top: 1px solid $theme-font-gray;
    border-bottom: 1px solid $theme-font-gray;
}
.product-grid{
    margin:0.5em;
    p{
        margin:0;
        padding:0.5em 0.1em;
    }
    
}
.custom-radio{
    color: $font-color-gray;
    
}
.align-center{
    display: flex;
    align-items: center;
    text-align: center;
}
.custom-border{
    border: 1px solid $font-color-gray;
}

//dashboard
.dashboard-card-div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0.7em;
    background: $dashboard-red;
    border-radius: 0.3em;
    min-height: 13vh;
    max-height: 17vh;
    max-width: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    .dashboard-card-icon{
        background: #E67A81;
      
        min-width:50px;
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color:white;
        border-radius: 0.3em;
        margin: 0 6px;
    }
    .dashboard-card-content{
        margin: 0 6px;
       
        p{
            margin: 0;
            color:white;
            font-size: 1em;
        }
        .p2{
            font-size: 0.7em;
            white-space: no-wrap;
        }
    }
}
.dashboard-blue{
    background-color: $dashboard-blue;
    .dashboard-card-icon{
        background-color: #5C8CE5;
    }
}
.dashboard-yellow{
    background-color: $dashboard-yellow;
    .dashboard-card-icon{
        background-color: #FBC271;
    }
}
.dashboard-orange{
    background-color: $dashboard-orange;
    .dashboard-card-icon{
        background-color: #F89E8B;
    }
}
.small-chart{
    background-color: $dashboard-red;
    padding: 0.8em;
    margin: 3.6em 0.5em 0 0.2em;
    min-height: 30vh;
    border-radius: 0.3em;
    display: flex;
    justify-content: space-between;
    
    p{
        color: white;
        margin: 0.2em;
    }
    .bold, .small-cart-num{
        font-weight: 700;
    }
    .custom-p{
        font-size: 0.7em;
    }
}
.custom-card-dashboard{
    div{
        
        border-radius: 0.3em;
    }
    h6{
        font-weight: 600;
    }
    margin: 2em 1em;
}
.custom-checkbox-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid $font-color-gray;
    border-radius: 0.3em;
    min-height: 50px;
}
.custom-font{
    color: $font-color-gray;
    h6{
        color: $font-color-gray;
    }
}
.custom-select-input{
    min-height: 49px;
    padding: 0.3em;
    width:100%;
    border: 1px solid #b2b1b1;
    border-radius: 0.3em;
    color: #b2b1b1;
}
.custom-pay-btn{
    color: white;
    background-color: $dashboard-blue;
    margin:0 0.3em;
    padding: 0.2em 0.5em;
    border:none;
    border-radius: 0.3em;
}
.custom-close-btn{
    color: white;
    background-color: $dashboard-red;
    margin:0 0.3em;
    padding: 0.2em 0.5em;
    border:none;
    border-radius: 0.3em;
}