// Here you can add other styles
//styling for sidebar

.background-white-theme{
    background-color: white;
}
.background-blue-theme{
    background-color: $theme-color-blue;
}
.background-white-theme{
    background-color: white;
}
//roles module
.flex-column{
    display: flex;
    flex-direction: column;
}
.justify-end{
    justify-self:flex-end;
    align-self: flex-end;

}

.custom-table tr:nth-child(2n-1){
  background-color: #F9F9FC;
  
}
.table > :not(caption) > * > * {
    border: none;
}
.custom-table-row{
    background-color: white !important;
    color: $font-color-gray;
}
.icon-color-blue{  
    color:#3F78E0;
}
.icon-color-red{
    color:#E2626B;
}
.custom-theme-btn, .custon-theme-btn{
    background-color:$theme-color-blue;
    color:white;
    border:none;
    svg{
        margin-left: 3px;

    }
    &:hover{
        color: $theme-color-blue;
        background-color: white;
        outline-style: none;
        border: 1px solid $theme-color-blue;
    }
    &:focus{
        color: $theme-color-blue;
        background-color: white;
        outline-style: none;
        outline: none;
        border:none;
    }
}
.flex-align-left{
    
    
   min-height: 20vh;

   div{
    display: flex;

    justify-items: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
    align-content: center;
       button{
           
           margin: 5px;
       }
   }
}
.storeDetailsForm{
    margin: 0 0 auto 0
}
.custom-blue-btn-outline{
    background-color:transparent;
    color: $theme-color-blue;
    border: 1px solid $theme-color-blue;
    
    &:hover{
        background-color: #F9F9FC;
        color:$theme-color-blue;
        border:none;
    }
    &:active{
        background-color: #F9F9FC;
        color:$theme-color-blue;
        outline: none;
    }
}
.custom-blue-btn{
    background-color:$theme-color-blue;
    color: white;
    border: none;
    
    &:hover{
        background-color: #F9F9FC;
        color: $theme-color-blue;
        border:none;
    }
    &:active{
        background-color: #F9F9FC;
        color:$theme-color-blue;
        outline: none;
    }
}
//custom font size 
.custom-font-size{
    font-size: 0.67em;
    font-weight: 600;
}
//this will align text center 
.text-align-center-nowrap{  
    text-align: center;
    white-space: wrap;
}
//grid for 6 columns
.grid-6-align-center{
   display: grid;
   grid-template-columns: repeat(auto-fill, 5% 15% 20% 30% 15% 15%);
   align-items: center;
}
//custom green success btn
.custom-success-green-btn{
    background-color:  $success-btn-green;
    color: white;
    text-transform:capitalize;
    border:none;
    &:hover, &:focus, &:active{
        border: $success-btn-green;
        background-color: white;
        color: $success-btn-green;
    }
    // &:focus{
    //     background-color: white;
    //     color:black;
    //     border:none;
    //     outline: none;
    //     outline-style: none;
    // }
}
.custom-fail-red-btn{
    background-color: #E2626B;
    color: white;
    text-transform:capitalize;
    border:none;
    &:hover, &:focus, &:active{
        border: $fail-btn-red;
        background-color: white;
        color: $fail-btn-red;
    }
}