// Here you can add other styles
//styling for sidebar

.background-white-theme{
    background-color: white;
}
.background-blue-theme{
    background-color: $theme-color-blue;
}
.background-white-theme{
    background-color: white;
}
//roles module
.flex-column{
    display: flex;
    flex-direction: column;
}
.justify-end{
    justify-self:flex-end;
    align-self: flex-end;

}

.custom-table tr:nth-child(2n-1){
  background-color: #F9F9FC;
  
}
.table > :not(caption) > * > * {
    border: none;
}
.custom-table-row{
    background-color: white !important;
    color: $font-color-gray;
}
.icon-color-blue{  
    color:#4F9ADF;
}
.icon-color-red{
    color:red;
}
.custon-theme-btn{
    background-color:$theme-color-blue;
    color:white;
    border:none;
    svg{
        margin-left: 3px;

    }
}